pandas
numpy
scikit-learn
matplotlib
seaborn
jupyterlab
imbalanced-learn
xgboost
lightgbm
shap
pyarrow
optuna
catboost
mlflow
pydantic-settings
sqlalchemy
psycopg2-binary
asyncpg
fastapi
uvicorn[standard]
aiofiles
python-multipart
